# ===== NestJS =====
BE/node_modules/
BE/dist/
BE/.env
BE/.env.*

# ===== Node / React / Vite =====
FE/node_modules/
FE/dist/
FE/.vite/

# ===== Environment files =====
FE/.env
FE/.env.*

# ===== IDE =====
.vscode/
.idea/
*.iml

# ===== OS =====
.DS_Store
Thumbs.db